{
	email {$ACME_EMAIL}
}

http://{$APP_HOSTNAME} {
	reverse_proxy agents:8000
}

http://{$MOODLE_HOSTNAME} {
	reverse_proxy moodle:80
}

http://{$MCP_HOSTNAME} {
	reverse_proxy mcp:8000
}

http://localhost {
	reverse_proxy agents:8000
}
